@import "nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@500;700&family=Ribeye&family=Roboto:wght@400;500&display=swap");
@import "slick";

/*==variables==*/

$activeElement: #c9453b;
$activeElementHover: #b30e0e;
$lightText: #ffffff;
$lightTextHover: #dddddd;
$darkText: #000000;

%title {
   font-family: "Gelasio", serif;
   font-weight: 500;
   color: $darkText;
}

/*==global==*/

body {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 160%;
   color: $darkText;

   &.lock {
      overflow: hidden;
   }

   p {
      color: rgba(0, 0, 0, 0.6);
   }

   @media (max-width: 575.98px) {
      font-size: 16px;
   }
}

/*==pressing==*/

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main {
   flex: 1 1 auto;
}

/*==container==*/

.container {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0px 15px;

   @media (max-width: 1199.98px) {
      max-width: 990px;
   }

   @media (max-width: 991.98px) {
      max-width: 750px;
   }

   @media (max-width: 767.98px) {
      max-width: 570px;
   }

   @media (max-width: 575.98px) {
      max-width: none;
   }
}

/*==button==*/

.button {
   display: inline-block;
   font-size: 16px;
   line-height: 150%;
   color: $lightText;
   background-color: $activeElement;
   border-radius: 5px;
   padding: 14px 40px;
   transition: color 0.4s ease, background-color 0.4s ease;

   &:hover {
      color: $lightTextHover;
      background-color: $activeElementHover;
   }
}

/*==header==*/

.header {
   position: relative;
   background-image: url(../images/header/header-bg.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   color: $lightText;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.3);
   }

   &__inner {
      position: relative;
      z-index: 2;
      padding-bottom: 244px;
   }

   &__body {
      margin-top: 165px;
   }

   &__title {
      @extend %title;
      color: $lightText;
      font-weight: 700;
      font-size: 65px;
      line-height: 120%;
      margin-bottom: 30px;
   }

   &__text {
      color: rgba($color: #ffffff, $alpha: 0.6);
      max-width: 458px;
      margin-bottom: 40px;
   }
}

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 35px 0;

   &__logo {
      display: inline-block;
      font-family: "Ribeye", cursive;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0.06em;
      color: $lightText;
   }

   &__list {
      display: flex;
   }

   &__item:not(:last-child) {
      margin-right: 50px;
   }

   &__link {
      font-weight: 500;
      line-height: 150%;
      transition: color 0.3s ease-in-out;

      &:hover {
         color: $activeElementHover;
      }
   }

   &__burger {
      display: none;
   }
}

/*==popular-location==*/

.popular-location {
   &__inner {
      padding: 140px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      @extend %title;
      font-size: 43px;
      line-height: 140%;
      margin-bottom: 20px;
   }

   &__text {
      max-width: 735px;
      text-align: center;
      margin-bottom: 50px;
   }

   &__box {
      display: flex;
      gap: 30px;
   }

   &__item {
      flex: 0 1 360px;
      max-width: 360px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
      border-radius: 10px;
      background-color: $lightText;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
         transform: scale(1.15);
         box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.5);
      }
   }

   &__link {
      display: block;
      text-align: center;

      img {
         border-radius: 10px 10px 0px 0px;
      }
   }

   &__text-block {
      padding: 35px 27px 33px;
   }

   &__link-title {
      @extend %title;
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 10px;
   }
}

/*==offers==*/

.offers {
   &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
   }

   &__title {
      @extend .popular-location__title;
   }

   &__text {
      max-width: 656px;
      text-align: center;
   }

   &__slider {
      margin-bottom: 30px;
   }

   &__slider-item {
      max-width: 262px;
      background-color: $lightText;
      border-radius: 10px;
      margin-right: 73px;
      transition: background-color 0.3s ease-in-out;

      &:hover {
         background-color: #e6e6e6;
      }
   }

   &__slider-controls {
      position: relative;
      max-width: 355px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      .slick-arrow {
         position: absolute;
         top: 50%;
         font-size: 0;
         width: 13px;
         height: 11px;
         background-color: transparent;
         background-position: center;
         background-size: cover;
      }

      .slick-prev {
         left: 15px;
         background-image: url(../images/offers/slider-arrow-prev.svg);
      }

      .slick-next {
         right: 15px;
         background-image: url(../images/offers/slider-arrow-next.svg);
      }

      .slick-disabled {
         opacity: 0.5;
         cursor: initial;
      }

      .slick-dots {
         display: flex;
         gap: 3px;

         button {
            font-size: 0;
            width: 45px;
            height: 5px;
            background-color: rgba(201, 69, 59, 0.2);
            border-radius: 10px;
         }

         li.slick-active {
            button {
               background-color: $activeElement;
            }
         }
      }
   }
}

.slide {
   display: block;
   img {
      border-radius: 10px;
   }

   &__content {
      padding-top: 20px;
      padding-left: 5px;
   }

   &__title {
      @extend %title;
      font-size: 24px;
      line-height: 150%;
   }

   &__icons {
      display: flex;
      gap: 50px;
      align-items: center;
      margin-bottom: 8px;
   }

   &__place,
   &__stars {
      position: relative;
      display: inline-block;
      font-size: 18px;
      line-height: 150%;
      color: $darkText;

      &::before {
         content: "";
         position: absolute;
         left: 0;
      }
   }

   &__place {
      padding-left: 21px;
      color: rgba(0, 0, 0, 0.6);

      &::before {
         top: 5px;
         background-image: url(../images/offers/place.svg);
         width: 11px;
         height: 15.5px;
      }
   }

   &__stars {
      padding-left: 34px;

      &::before {
         background-image: url(../images/offers/star.svg);
         width: 22px;
         height: 20px;
      }
   }

   &__time {
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 8px;
   }

   &__price {
      font-size: 16px;
      line-height: 150%;

      span {
         font-weight: 500;
         font-size: 18px;
         line-height: 150%;
         color: rgba(0, 0, 0, 1);
      }
   }
}

/*==blog==*/

.blog {
   &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 140px 0;
   }

   &__title {
      @extend .popular-location__title;
   }

   &__text {
      max-width: 581px;
      text-align: center;
      margin-bottom: 56px;
   }

   &__news-block {
      display: flex;
      gap: 30px;
   }

   &__small-news {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
}

.news {
   img {
      border-radius: 10px;
      margin: 0 auto;
   }

   &__title {
      @extend %title;
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 10px;
      transition: color 0.3s ease;

      &:hover {
         color: $activeElementHover;
      }
   }

   &__link {
      font-weight: 500;
      font-size: 20px;
      line-height: 160%;
      color: $darkText;
      transition: color 0.3s ease;

      &:hover {
         color: $activeElementHover;
      }
   }
}

.news--big {
   img {
      max-width: 554px;
   }

   .news__body {
      margin-top: 35px;
   }

   .news__text {
      max-width: 470px;
      margin-bottom: 10px;
   }
}

.news--small {
   display: flex;
   align-items: center;
   gap: 27px;

   img {
      max-width: 263px;
   }

   .news__text {
      max-width: 243px;
      margin-bottom: 5px;
   }
}

/*==footer==*/

.footer {
   background-color: rgba(38, 148, 153, 0.04);
   font-size: 16px;
   line-height: 160%;
   letter-spacing: 0.06em;

   &__inner {
      display: flex;
      justify-content: space-between;
      padding: 70px 0 78px;
   }

   &__logo {
      @extend .nav__logo;
      color: $darkText;
      margin-bottom: 40px;
   }

   &__text {
      color: rgba(0, 0, 0, 1);
      margin-bottom: 10px;
   }

   &__contact-link {
      transition: color 0.3s ease;
      &:hover {
         color: $activeElementHover;
      }
   }

   &__socials {
      display: flex;
      gap: 27px;
      margin-top: 20px;
   }

   &__nav {
      display: flex;
      gap: 121px;
   }

   &__item:not(:last-child) {
      margin-bottom: 20px;
   }

   &__link {
      font-weight: 500;
      white-space: nowrap;
      transition: color 0.3s ease-in-out;

      &:hover {
         color: $activeElementHover;
      }
   }

   &__subscribe-title {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 42px;
   }

   &__form {
      display: flex;
      gap: 35px;
   }

   &__input {
      opacity: 0.1;
      border: 1px solid #000000;
      box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 10px 10px 10px 20px;

      &::placeholder {
         color: $darkText;
         opacity: 1;
      }

      &:focus {
         opacity: 1;

         &::placeholder {
            opacity: 0.5;
         }
      }
   }

   &__button {
      padding: 10px 32px;
   }
}

@import "medias";
